<div class="contact-wrapper p0">
  <h1 style="padding-top: 100px"> Battulga Tsogtgerel </h1>

  <div class='links'>

    <h3 style=""> Contact Information </h3>
    <a href="https://github.com/BattulgaTS" target="_blank">
      <span class="fa-stack fa-lg fa-5x icons">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github-alt fa-stack-1x"></i>
      </span>
    </a>

    <a href="https://www.facebook.com/UpAndUpp" target="_blank">
      <span class="fa-stack fa-lg fa-5x icons">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>
    </a>

    <a href="http://steamcommunity.com/id/Lukee1mp4cty/" target="_blank">
      <span class="fa-stack fa-lg fa-5x icons">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-steam fa-stack-1x"></i>
      </span>
    </a>

  </div>


    <p class="credits-of-photo">
      Under the Stars,
      <i class="fa fa-map-marker" aria-hidden="true"></i>
       Moelfre Anglesey
    </p>

</div>
