.contact-wrapper {
  background: url('/assets/images/background.jpg') no-repeat center center;
  background-size: cover;
  min-height: 675px;
  color: white;
  text-align: center;
}

.links {
  padding-top: 100px;
  text-align: center;
}

.credits-of-photo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 800px;
}

.icons {
  margin-left: 25px;
  margin-right: 25px;
  background: transparent;
}
