.footer {
  background-color: #003459;
  min-height: 500px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  // font-size: 150px;
}

.working-on {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}
